<?xml version="1.0"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <distributable/>

  <context-param>
    <param-name>org.mortbay.jetty.servlet.SessionPath</param-name>
    <param-value>/wadi</param-value>
    <!-- <description>create session cookies with given path</description> --> <!-- upsets geronimo-1.0.0 -->
  </context-param>

<!-- [INSERT FRAGMENT HERE] -->

</web-app>


